body {
  background-color: rgb(lightgray);
}

h1 {
  font-family: 'Times New Romans', sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: #e95376;
  text-align: center;
}

h3, h4 {
  font-family: 'Times New Romans', sans-serif;
  font-weight: bold;
  color:black;
  text-align: center;
}

p {
  text-align: center;
}

#scoreTarget {
  text-align: center;
}

#scoreBox {
  text-align:center;
}

#wins {
  text-align:center;
}

#losses {
  text-align:center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
footer {
  background: #666666;
  color: #fff;
  padding: 0;
  clear: both;
  border-top: 8px solid #4aaaa5;
  color: #cccccc;
  font-size: 12px;
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  
}

.modal{
  visibility: hidden;
}

.btn-success {
  padding: 20px;
  border: none;
}
.crystalButton {
  display: flex;
}
