body {
  background-color: rgb(lightgray);

}

h1 {
  font-family: 'Times New Romans', sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: #e95376;
  text-align: center;
}

h3, h4 {
  font-family: 'Times New Romans', sans-serif;
  font-weight: bold;
  color:black;
  text-align: center;
}

p {
  text-align: center;
}

#scoreTarget {

  text-align: center;
}

#scoreBox {
  text-align:center;
}

#wins {

  text-align:center;
}

#losses {

  text-align:center;
}
footer {
position: fixed;
text-align: center;
clear: both;

}


.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}


.modal{
  visibility: hidden;
}

.btn-success {
  padding: 20px;
  border: none;
}
.crystalButton {
  display: flex;
}
