
body{
    background-image: "assets/images/background-image.jpg"
}


.crystalButton {
    width: 200px;
    height: auto;
    float: left;
    border: none;
    background: none;
    padding:5px;

}


/* footer */

footer {
    background: #666666;
    color: #fff;
    padding: 0;
    clear: both;
  /*  border-top: 8px solid #4aaaa5; */
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    
  }

